input {
  color: #fff;
}

.main-page_nav {
  padding: 20px;
}
.main_page_box {
  width: 100%;
  display: flex;
}
.main-page_nav_h1 {
  margin-top: 100px;
  color: var(--main-color);
  font-family: var(--main-font);
}
.warning {
  padding: 15px 15px;
  background-color: #333030;
}
#book-type {
  color: #fff;
  display: flex;
  background-color: #333030;
  /* width: 300px; */
  height: 35px;
}
.warning_p {
 
  margin-top: 10px;
  color: #ffffff;
}
.catogor {
  margin-top: 5px;
  flex-direction: column;
  align-items: left;
  gap: 8px;
  display: flex;
  flex: 1;
}

.warning_p {
  color: #ffffff;
}
.main-inp {
  border-radius: 5px;
  margin-top: 20px;
}
.num_inp {
  width: 100%;
  border-radius: 5px;
}
.inputs {
  width: 100%;
  margin-top: 5px;
  display: flex;
  gap: 20px;
  border-radius: 5px;
}
textarea {
  background-color: #333030;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  line-height: 1.4;
  resize: vertical; /* faqat balandligini o‘zgartirish mumkin */
  font-family: inherit;
  font-size: 14px;
  vertical-align: top; /* matn yuqoridan boshlansin */
}

.inputs input {
  width: 300px;
  border-radius: 5px;
}
.price {
  width: 100%;
}
#inputs_ss {
flex: 1;
  width: 100%;
  border-radius: 5px;
}
.warning_input1 {
  color: #fff;
  width: 100%;
  height: 35px;
  background-color: #333030;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.inputs_box {
  flex: 1;
}

.inputs_box input {
  margin-top: 3px;
  height: 35px;
  background-color: #333030;
  border: none;
  padding: 10px;
}
.other_inp {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
.date_inp {
  background-color: #544d4d;
  color: #fff;
  width: 100%;
  border-radius: 5px;
}
.last_inp {
  width: 383px;
  border-radius: 5px;
}
.tafsif_box_nav {
  display: flex;
  align-items: flex-start; 
  color: #fff;
}
.tafsif_box {
  padding: 20px;
  width: 100%;
  background-color: #333030;
  height: 400px;
}
.tafsif_box_nav_p {
  flex: 1;
  min-height: 100px; 
  display: flex;
  justify-content: left;
  color: #fff;
  background-color: #33303069;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  
}
.tafsif {
  margin-top: 10px;
}

.time_box {
  display: flex;
  gap: 20px;
}
.settings {
  margin-top: 20px;
}
.settings_p {
  color: #4b4b4a;
  width: 670px;
}
.settings_h1 {
  text-transform: uppercase;
  color: var(--main-color);
  font-family: var(--main-font);
}
.settings_sec_p {
  margin-top: 10px;
  color: #fff;
}
.time_box input {
  margin-top: 3px;
  height: 35px;
  background-color: #333030;
  border: none;
  padding: 10px;
}
.time_box_btn {
  margin-top: 30px;
  width: 185px;
  height: 48px;
  background-color: #c9ac8c;
  color: #3c2710;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
}
.add-images {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-left: 20px;
}
.add-images_p {
  margin-top: 15px;
  color: #fff;
}
.image_box {
  margin-top: 5px;
  width: 100%;
  height: 141px;
  background-color: #333030;
}
.qoidalar {
  font-family: var(--secondary-font);
  margin-top: 10px;
}
.qoidalar_h3 {
  color: var(--main-color);
}
.qoidalar_nav span {
  color: var(--main-color);
}

.qoidalar_nav p {
  font-family: var(--secondary-font);
  margin-top: 10px;
  color: #fff;
}
.image_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image_box_nav_img {
  width: 141px;
  height: 33px;
  background-color: var(--main-color);
  color: #3c2710;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
#file {
  display: none;
  width: 141px;
  height: 33px;
}
.image_box_nav1 {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}
.image_box_nav1_p {
  color: #4b4b4a;
}
.time_box_btn1 {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: -20px;
  width: 100%;
  height: 48px;
  background-color: #c9ac8c;
  color: #3c2710;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
}
.country {
  width: 100%;
}
#country {
  width: 100%;
}
@media (max-width: 768px) {
  .main_page_box {
    flex-direction: column;
    width: 100%;
  }

  .inputs {
    flex-direction: column;
    gap: 15px;
  }

  .other_inp {
    flex-direction: column;
    gap: 15px;
  }

  .time_box {
    flex-direction: column;
    gap: 10px;
  }

  .settings_p {
    width: 100%;
  }
  body input {
    margin-top: 5px;
  }
  .inputs_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #inputs_ss {
    width: 100%;
  }
  input {
    width: 100%;
  }
  #rate {
    margin-bottom: 15px;
  }
  .country {
    width: 100%;
  }
  .tafsif_box {
    margin-top: 10px;
  }
  .inputs_ss {
    width: 100%;
  }

  .inputs_box input {
    width: 100%;
  }

  .image_box {
    width: 100%;
  }

  .image_box_nav_img {
    width: 100%;
  }
  .add-images {
    margin: 0;
  }
  .add-book_box {
    width: 100%;
  }
  .time_box_btn1 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-left: 0;
    width: 100%;
    height: 48px;
    background-color: #c9ac8c;
    color: #3c2710;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
  }
}

input:user-invalid {
  outline-color: red;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.139);
}
