.login-btn {
  padding: 10px 20px;
  background-color: #d7b892;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.coontainer {
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
}
.forgot {
  margin-top: 200px;
}
/* .coontainer h1 {
  margin-top: 20px  ;
} */
.coontainer_h1 {
  color: var(--main-color);
  font-family: var(--main-font);
  margin-top: 200px;
}
h1 {
  font-family: 'Georgia', cursive;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

input {
  padding: 12px;
  background: #1f1f1f;
  border: none;
  border-radius: 5px;
  color: #fff;
}

button {
  padding: 12px;
  background-color: #d7b892;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  margin-top: 10px;
  font-size: 13px;
  color: #b8b8b8;
  text-decoration: none;
}
