.main {
  gap: 50px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}

.main_img {
  width: 450px;
  height: 640px;
  border-radius: 20px;
  background-size: cover;
  object-position: top;
}
.unde {
  font-size: 40px;
  color: var(--main-color);
  font-family: var(--main-font);
}
.undef {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-born {
  width: auto;
  flex: 1;
}
#titleColor {
  color: var(--main-color);
}
#titleName {
  margin-top: 13px;
  font-weight: 100;
  letter-spacing: 20px 10px;
}
.born {
  margin-top: 10px;
}

.born_nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  color: #fff;
  display: flex;
}
.born_nav_p {
  color: gray;
}
.born_nav_h1 {
  color: var(--main-color);
  font-weight: 300;
}
.user_info_h1 {
  font-family: var(--main-font);
  color: var(--main-color);
  font-weight: bold;
  font-size: 48px;
}
.swiper-button-prev {
  left: 16px !important;
  background: black;
  padding: 10px;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
  display: flex !important;
  justify-content: center !important;
}

.titleName a {
  color: var(--main-color);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--main-color);
  font-size: 24px !important;
}
.user_info_nav {
  margin-top: 20px;
}
.user_info {
  flex: 1;
  min-width: 320px;
}
.user_info_nav_p {
  margin-top: 20px;
  color: #ffffffcc;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-wrap: pretty;
}
.colection-user {
  margin-top: 30px;
}
.colection-header {
  display: flex;
  gap: 15px;
  color: var(--main-color);
}
.colection-header h1 {
  font-family: var(--main-font);
}
.colection-user_nav_p {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-family: sans-serif;
}
.asarlari {
  margin-top: 20px;
}
.asarlari_nav_h1 {
  color: var(--main-color);
  font-family: var(--main-font);
}
.reyting {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reyting img {
  width: 20px;
  height: 20px;
}
.books {
  gap: 20px;
  display: flex;
  margin-top: 20px;
}
.books_box_h3 {
  color: var(--main-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 10px;
}

.shoirs {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
/* Next page */

/* create book */
#shoirs_h2 {
  margin-top: 14px;
  margin-bottom: 10px;
  color: var(--main-color);
  font-family: var(--main-font);
}
@media only screen and (max-width: 768px) {
  .unde {
    font-size: 25px;
  }
  .main_img {
    width: 400px;
    height: 500px;
  }
  .main {
    width: 100%;
    justify-content: center;
  }
  /* .user_info_nav {
    width: 100%;
    justify-content: center;
    margin-left: 0;
    padding: 25px 25px;
  } */
  .books {
    flex-direction: column;
  }
  .text-input_btn {
    margin-top: 10px;
    margin-left: -3px;
    width: 50px;
  }
  .text_box_inp {
    display: flex;
  }
  .text-input_btn_span {
    display: none;
  }

  .user_info_h1 {
    font-size: 35px;
  }
  .main-page_nav_img {
    width: 100%;
  }
  .search-box {
    display: none;
  }
  .search-box1 {
    display: flex;
  }

  .catagor {
    margin-top: 40px;
  }
  .catagor_nav_header_ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .catagor_nav_header_ul_li {
    text-align: center;
    background-color: #404040;
    width: 100%;
    height: 60px;
    border-radius: 12px;
    border: none;
    padding: 10px 0px;
  }
  .catagor_nav_header_ul li a {
    font-size: 35px;
    color: #fff;
  }
  .shoirs_nav {
    display: flex;
    justify-content: center;
  }
}
