@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'Steinbeck';
  src: url(../fonts/RotterburgstylishfreeRegular-ZVZ5B.otf) format('truetype');
}

:root {
  --main-color: #c9ac8c;
  --main-bg-color: #191919;
  --main-font: 'Rotterburg Stylish', sans-serif;
  --secondary-font: 'Steinbeck', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1224px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.imgages_h3 {
  margin-top: 8px;
  font-family: var(--secondary-font);
  color: #c9ac8c;
}
.imgages_p {
  color: #fff;
  font-family: var(--secondary-font);
}
.user-banner_nav {
  width: 100%;
  flex-wrap: wrap;
  flex: 1;
  padding: 20px;
  gap: 35px;
  display: flex;
}
.books-header_ul a {
  text-decoration: none;
  color: #fff;
}
.user-banner {
  margin-top: 100px;
  background-image: url(../asign/image/user-banner_bg.png);
  border-radius: 15px;
}
.imgages {
  text-align: center;
}
.imgages img {
  width: 170px;
  height: 170px;
}
.user-banner_info h1 {
  color: #c9ac8c;
  font-family: var(--main-font);
}
.user-banner_info {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-top: 10px;
  color: #fff;
}
.user-banner_info p {
  color: gray;
}
.user-banner_info strong {
  color: #fff;
}
.user-banner-info_p {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
.books-header_nav ul {
  text-decoration: none;
  list-style: none;
  gap: 100px;
  color: #ffffff99;
  font-family: var(--secondary-font);
  display: flex;
}
#main-li a {
  color: #c9ac8c;
}
.books-header_nav {
  padding: 25px 0;
  display: flex;
  justify-content: center;
}
.books {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
}
#books {
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
#tafsif {
  font-family: var(--secondary-font);
}
.books_box_h3 {
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  color: var(--main-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 10px;
}
#booksBox {
  min-width: 180px;
  flex: 1;
  border-radius: 12px;
  padding: 15px;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 240px;

  /* background-color: red; */
}
#rateImg {
  width: 10px;
  height: 10px;
}
#booksBox img {
  background-size: cover;
  width: 100%;
}
.startsDiv {
  gap: 10px;
  display: flex;
}
.reyting {
  margin-top: 10px;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  .user-banner_nav {
    justify-content: center;
  }
  .header_nav_ul {
    flex-direction: column;
    display: none;
  }
  .header_nav {
    justify-content: space-between;
    padding: 0 25px;
  }
  .books-header_nav {
    text-align: center;
    width: 100%;
    flex-direction: column;
  }
  .books-header_nav ul {
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
  .books-header_nav li {
    width: 450px;
    height: 30px;
    background-color: rgba(39, 39, 40, 0.833);
    border-radius: 12px;
  }
}
footer {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #212121;
}
