.imgages_h3 {
  margin-top: 8px;
  font-family: var(--secondary-font);
  color: #c9ac8c;
}
.imgages_p {
  color: #fff;
  font-family: var(--secondary-font);
}
.user-banner_nav {
  width: 100%;
  flex-wrap: wrap;
  flex: 1;
  padding: 20px;
  gap: 35px;
  display: flex;
}

.container {
  padding-bottom: 40px !important;
}
.header_nav_lii {
  width: 100%;
  list-style: none;
}
.create {
  width: 100%;
}
#addBookid {
  list-style: none;
  text-decoration: none;
  padding: 15px;
  border-radius: 12px;
  width: 100% !important;
  height: 50px;
  background-color: #c9ac8c5d;
  color: #c9ac8c;
}
.logOut_nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.books-header_ul li {
  padding: 5px;
}
.books-header_ul a {
  text-decoration: none;
  color: #fff;
}
.user-banner {
  margin-top: 100px;
  background-image: url(../asign/image/user-banner_bg.png);
  border-radius: 15px;
}
.imgages {
  text-align: center;
}
.imgages img {
  width: 170px;
  height: 170px;
}
.user-banner_info h1 {
  color: #c9ac8c;
  font-family: var(--main-font);
}
.user-banner_info {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-top: 10px;
  color: #fff;
  flex: 1;
}
.user-banner_info p {
  color: gray;
}
.user-banner_info strong {
  color: #fff;
}
.user-banner-info_p {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
.books-header_nav ul {
  text-decoration: none;
  list-style: none;
  gap: 100px;
  color: #ffffff99;
  font-family: var(--secondary-font);
  display: flex;
}
#img {
  background-size: cover;
  border-radius: 20px;
  height: 180px;
}
#main-li a {
  color: #c9ac8c;
}
.books-header_nav {
  padding: 25px 0;
  display: flex;
  justify-content: center;
}
.books {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
}
#books {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.unde {
  margin-top: 100px;
  color: var(--main-color);
  font-family: var(--main-font);
  width: 100%;
  text-align: center;
}
#tafsif {
  overflow: hidden;
  height: 35px;
  text-overflow: ellipsis;
  color: gray;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 14px;
}
.books_box_h3 {
  overflow: hidden;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: 1.2px;
  text-overflow: ellipsis;
  color: var(--main-color);
  text-transform: capitalize;
  font-family: var(--main-font);
}
.h1-box {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.h1-box img {
  width: 20px;
  height: 20px;
}
#booksBox {
  flex: 0 0 200px;
  max-width: 200px;
  border-radius: 12px;
  padding: 15px;
  background-color: #212121;
  display: flex;
  flex-direction: column;
}

#rateImg {
  width: 10px;
  height: 10px;
}
#booksBox img {
  border-radius: 12px;
  background-size: cover;
  width: 100%;
}
.startsDiv {
  gap: 10px;
  display: flex;
}
#startsDiv span {
  margin-top: -5px;
}
.reyting {
  align-items: start;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  #books {
    justify-content: center;
  }
  .user-banner_nav {
    justify-content: center;
  }
  .header_nav_ul {
    flex-direction: column;
    display: none;
  }
  .header_nav {
    justify-content: space-between;
    padding: 0 25px;
  }
  .books-header_nav {
    text-align: center;
    width: 100%;
    flex-direction: column;
  }
  .books-header_nav ul {
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
  .books-header_nav li {
    width: 100%;
    height: 30px;
    background-color: rgba(39, 39, 40, 0.833);
    border-radius: 12px;
  }
}
footer {
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #212121;
}
#logOut {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#logOut.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.logOut {
  margin-top: -10px;
  border-bottom-left-radius: 8px;
  padding: 15px;
  width: 300px;
  height: 150px;
  position: absolute;
  background-color: rgba(98, 96, 96, 0.317);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  right: 0;
}
.logOutBox {
  border-radius: 12px;
  align-items: center;
  gap: 10px;
  color: #cc575e;
  padding: 15px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.164);
  display: flex;
}
.logOutBox img {
  width: 30px;
  height: 30px;
}

.books_box-category {
  text-transform: capitalize;
}
.inbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
