body {
  background-color: #1e1e1e;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 20px 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.profile-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

.book-info {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.book-cover {
  width: 220px;
  border-radius: 8px;
}

.book-title {
  font-size: 32px;
  margin: 0;
}

.book-author {
  font-size: 20px;
  color: #aaa;
}

.book-meta {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.book-meta li {
  margin-bottom: 5px;
}

.book-description {
  line-height: 1.6;
  margin: 15px 0;
}

.book-actions {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn.primary {
  background-color: #d4a373;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.icons img {
  width: 24px;
  cursor: pointer;
  gap: 90px;
}

.tabs {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.tabs button {
  background: none;
  border: none;
  padding: 10px 15px;
  color: #ccc;
  cursor: pointer;
  font-size: 16px;
}

.tabs .active {
  border-bottom: 2px solid #d4a373;
  color: #C9AC8C;
}

.comments .comment {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.comment .user {
  font-weight: bold;
}

.comment .stars {
  color: #f5c518;
}
.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.user-img-s{
  display: flex;
  align-items: center;
  text-align: left;
  gap: 20px;
}
.user{
 color: #C9AC8C;
}
.active{
  background: transparent;
  border: none;
  padding: 3px;
  border-bottom: 2px solid #d4a373;
  color: #C9AC8C;
}
.imoje{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.svv{
  height: 22px;
  width: 5px;
}